@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
	font-family: inherit;
    font-weight: 500;
}
body{
	/*width: 1920px;*/
	height: 100%;
	font-family:"微软雅黑";
	background: RGB(255,255,255);
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
}
*{
	box-sizing: border-box;
}
div{
	display: block;
}


/*header*/
header{
	position: relative;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}
header .header-conent{
	width: 1140px !important;
	margin: 0 auto;
    height: 40px;
    line-height: 40px;
}
header a{
	color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
    position: relative;
}
header .sep{
	margin: 0 .5em;
    color: #424242;
}
header .header-gwc{
	height: 40px;
	float: right;
	margin-top: -40px;
	margin-left: 15px;
    background-color: #424242;
    padding: 0 19px;
}

header .header-gwc a img{
	width: 20px;
    top: 4px;
    position: relative;
}
header .header-right{
	position: absolute;
	right: 317px;
	top: 0px;
}

/*nav*/
.nav{
	width: 1140px;
	height: 49.6px;
	background: white;
	z-index: 100;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
	margin:0 auto;
	position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -570px;
}
.nav-move-top{
	position: fixed!important;
    top: 0!important;
    margin-left: -570px;
    left: 50%;
    z-index: 1000;
}
.nav-logo{
	width: 161px;
	height: 49.6px;
	text-align: center;
	line-height: 50px;
}
.nav-logo a img{
	vertical-align: middle;
}
nav ul{
	z-index: 100;

	display: flex;
}
nav ul .nav-lie{
	width: 72px;
	height: 49.6px;
	line-height: 48.6px;
	text-align: center;
}
nav ul .nav-lie a{
	font-size: 14px;
	color: #767676;
}
nav ul .nav-lie a img{
	vertical-align: middle;	
}
nav ul .nav-lie:hover{
	background: #fff;
}
nav ul .nav-lie .nav-lie-zzc{
	display: none;
}
nav ul .nav-lie:hover  .nav-lie-zzc{
	display: block;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox{
	width: 1140px;
    height: 310px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.7);
    padding-top: 20px;
    z-index: 26;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox .nav-zzcBbox{
	padding: 0;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox .nav-zzcBbox .nav-zzcBbox-01{
	width: 16.66666667%;
	position: relative;
    min-height: 1px;
    display: flex;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox .nav-zzcBbox .nav-zzcBbox-01 .nav-zzcBbox-02 {
    padding-right: 15px;
    padding-left: 15px;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox .nav-zzcBbox .nav-zzcBbox-01 .nav-zzcBbox-02 img{
	width: 160px;
	height: 160px;
	vertical-align: middle;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox .nav-zzcBbox .nav-zzcBbox-01 .nav-zzcBbox-02 h4{
	font-size: 16px;
    line-height: 30px;
    color: #222;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    width: 128px;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox .nav-zzcBbox .nav-zzcBbox-01 .nav-zzcBbox-02 div{
	line-height: 30px;
    color: #989898;
}
nav ul .nav-lie .nav-lie-zzc .nav-lie-zzcAbox .nav-zzcBbox .nav-zzcBbox-01 .nav-zzcBbox-02 p{
	color: #ed1c24;
    line-height: 30px;
    margin: 0 0 10px;
}
.site-header-fixed {
    position: fixed!important;
    top: 0!important;
    margin-left: -570px;
    left: 50%;
    z-index: 1000;
}

/*右侧边栏*/
.aside-right{
	position: fixed;
    bottom: 150px;
    right: 0;
    margin-left: 555px;
    z-index: 99;
}
.aside-right ul{
	margin-bottom: 10px;
}
.aside-right ul a{
	font-size: 14px;
}
.aside-right ul li{
	border: 1px solid #bcbcbc;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin: -1px 0 -1px 0;
    background: #fff;
    transition: all .3s;
}

.aside-right ul li .aside-right-01{
	background: url(img/aside-right1.jpg) no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    display: block!important;
    margin: 9px auto;
}
.aside-right ul li .aside-right-02{
	background: url(img/aside-right2.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: block;
}
.aside-right ul li .aside-right-03{
	background: url(img/aside-right3.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: block;
}
.aside-right ul li .aside-right-04{
	background: url(img/aside-right4.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: block;
}
.aside-right ul li:hover .aside-right-01{
	display: none!important;
}
.aside-right ul li:hover .aside-right-02{
	display: none;
}
.aside-right ul li:hover .aside-right-03{
	display: none;
}
.aside-right ul li:hover .aside-right-04{
	display: none;
}
.aside-right-none{
	display: none;
	width: 42px;
	height: 42px;
	padding: 5px 5px;
	font-size: 12px;
	vertical-align: text-top;
	line-height: 15px;
	color: white;
}
.aside-right ul li:hover  .aside-right-none{
	display: block;
}
.aside-right ul li:hover{
	background: red;
}
.aside-right ul #the-top{
	display: none;
}
/*商品详情*/
.goods-details{
	padding-top: 100px;
}
.details-xiang{
	width: 1140px!important;
    margin: 0 auto;
    padding: 0;
	height: 100%;
}
.details-xiang ol{
	margin-bottom: 30px;
    padding: 0;
    background: 0 0!important;
}
.details-xiang ol>li{
	display: inline-block;
	font-size: 14px;
}
.details-xiang ol>li a{
	color: #333;
}
.details-color{
	color: #777;
}
.details-article1{
	margin: 0;
}
.article1-Left{
	width: 58.33333333%;
	padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.article1-Left .article1-LeftBig{
	position: relative;
	left: 96px;
    overflow: hidden;
    width: 540px;
    height: 540px;
    border: 1px solid #e3e3e3;
}
.article1-Left .article1-LeftBig img{
    position: relative;
	height: 530px;
}
#winSelector{
    width: 235px;
    height: 210px;
    position: absolute; 
     cursor: crosshair; 
     opacity: 0; 
     background-color: #000; 
     border: 1px solid #fff; 
}
.updown{
	width: 72px;
    margin-top: 28px;
}
.updown-right ul{
	height: 475px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    overflow: hidden;
}
.updown-right ul li{
	width: 72px;
    height: 72px;
    border: 1px solid #e3e3e3;
    padding: 2px;
    margin-top: 10px;
    display: block;
}
.updown-right ul li a{
	display: block;
    height: 100%;
    font-size: 0;
    text-align: center;
    line-height: 64px;
}
.updown-right ul li a img{
	max-width: 100%;
    max-height: 100%;
    border: 0;
    vertical-align: middle;
}
.updown-right ul .current{
	border: 2px solid #ed1c24;
}
.updown-right ul span img{
	width: 72px;
}
.article1-right{
	padding-right: 15px;
    padding-left: 15px;
	width: 41.66666667%;
    float: right;
}
.article1-right h3{
	margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.article1-right div{
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.right-money{
	position: relative;
}
.right-money-Span strong{
	color: #ed1c24;
    font-size: 24px;
}
.right-money-Span span{
	text-decoration: line-through;
    color: #b0b0b0;
}
.right-money a span:first-child{
	position: absolute;
    right: 94px;
    top: 8px;
}
.right-money a span:last-child{
	position: absolute;
    right: 35px;
    top: 7px;
	color: #767676;
}
.right-money a span img{
	width: 15px;
	height: 15px;
}
.right-dizhi{
	padding: 15px 0;
    margin: 35px 0;
}
.right-dizhiinfo{
	position: relative;
}
.right-dizhiinfo01{
	display: inline-block;
    margin: 0 10px;
}
.right-dizhiinfo01 span{
	margin-right: 10px;
}
.right-dizhiinfo .myStock{
	margin-left: 10px;
    font-weight: 600;
}
.right-dizhiinfo span img{
	width: 14px;
}
.right-shopp{
	margin-top: 40px;
}
.right-shopp01{
	position: relative;
    display: table;
    border-collapse: separate;
}
.right-shopp01 dt{
	width: 45px;
    text-align: left;
    line-height: 15px;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;   
    font-weight: 700;
}
.right-shopp02{
	position: relative;
	left: 50px;
    top: -15px;
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 30px;
}
.right-shoppBtn02{
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 4px;
    margin-top: -4px;
    border-color: #ddd;
    font-size: 24px;
    padding-bottom: 3px;
    outline: 0;    
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}
.spinner-input{
	height: 25px;
    width: 70px;
    border: 1px solid #ddd;
    margin-top: -2px;
    outline: 0;
    text-align: center;
}
.right-shopp03{
    padding: 15px 0;
}
.right-shopp03 a{
    line-height: 40px;
    padding: 10px 65px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
}
.right-shopp-btn01{
	background: #ed1c24;
    border-color: #ed1c24;
}
.right-shopp-btn02{
	background: #ff9f00;
}
.details-article2{
	margin: 0;
}
.details-article2Xc{
	padding-right: 15px;
    padding-left: 15px;
}
.article2Xc-content{
	margin-top: 60px;
}
.article2Xc-nav{
	height: 42px;
	border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.article2Xc-navUls{
	font-size: 14px;
	padding-left: 0;
	width: 665px;
    border: 0;
    margin: 0 auto;
	box-sizing: border-box;
}
.article2Xc-navUls01{
	-webkit-box-sizing: border-box;
    border-bottom: 2px solid #ed1c24;
}
.article2Xc-navUls>li{
	float: left;
    margin-bottom: -1px;
}
.article2Xc-navUls li a{
	border: 0;
    width: 130px;
    text-align: center;
    background: 0 0;
    color: #555;
    cursor: default;
    margin-right: 2px;
    position: relative;
    display: block;
    padding: 10px 15px;
}
.tab-content{
	border: 1px solid #e6e6e6;
    border-top: 0;
}
.in-active{
	padding: 15px;
    overflow: hidden;
}
.in-active p{
	margin: 0 0 10px;
}
.in-active p img{
	width: 1078px;
	height: 1285px;
	border: 0;
	vertical-align: middle;
}
#in-canshu{
	padding: 0 15px;
	/*color: #afafaf;*/
	color: #333;
}
.in-canshuP{
	border-bottom: 1px solid #ddd;
    font-size: 22px;
    padding-bottom: 10px;
    margin: 0 0 10px;
    margin: 22px 0;
}
#in-pingjia{
	padding:15px;
	color: #333;
}
#in-pingjia .more{
	border: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
    background: #f8f8f8;
}
#in-fuwu{
	padding: 20px;
}
.more-p{
	line-height: 26px;
	font-size: 14px;
}
#in-zixun{
	border-top: 1px solid #ddd;
}
.zixun-My{
	padding: 20px;
    border-bottom: 1px solid #ddd;
}
.zixun-My .yao{
	height: 40px;
    width: 80px;
    background: #ed1c24;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.zixun-Mymoer{
	padding: 20px;
	border-bottom: 1px solid #ddd;
}
.zixun-Mymoer ul{
	padding-left: 0;
	height: 20px;
	margin-bottom: 10px;
}
.zixun-Mymoer ul>li{
	float: left;
	padding: 0 5px;
}
.Mymoer{
	background: #ed1c24;
	color: #fff;
}
.in-fabiao{
	margin-top: 10px;
    margin-bottom: 10px;
}
.fabiao-form{
	padding: 20px;
}
.fabiao-formText{
	padding-right: 200px;
    margin-top: 20px;
}
.fabiao-formText textarea{
	width: 100%;
    height: 180px;
    color: #666;
    border-color: #ddd;
    resize: none;
}
.fabiao-form button{
	height: 40px;
    width: 80px;
    background: #ed1c24;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    padding: 0;
    border: 0;
    border-radius: 2px;
}
/*one-footer*/
.one-footer{
	width: 100%;
	background: #fff;
	position: relative;
}
.one-footer .footer-center{
	width: 1140px;
	height: 530.4px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.one-footer .footer-center .footer-center-one{
	padding: 40px 0 20px 0;
	border-bottom: 1px solid RGB(234,234,234);
}
.one-footer .footer-center .footer-center-one .footer-center-oneUls{
	padding: 0;
    width: 1100px;
    margin: 0 auto;
}
.one-footer .footer-center .footer-center-one .footer-center-oneUls li{
	width: 220px;
    float: left;
    position: relative;
    display: block;
    padding-left: 35px;
}
.one-footer .footer-center .footer-center-one .footer-center-oneUls li .footer-con{
	float: left;
    margin: 12px 12px 0 0;
}
.one-footer .footer-center .footer-center-one .footer-center-oneUls li .footer-title{
	display: inline-block;
    color: #b2b2b2;
    margin-top: 7px;
}
.one-footer .footer-center .footer-center-one .footer-center-oneUls li .footer-title h4{
	margin-bottom: 2px;
	font-size: 18px;
}
.one-footer .footer-center .footer-center-one .footer-center-oneUls li .footer-title small{
	font-size: 85%;
}
.one-footer .footer-center .footer-center-two{
	padding: 50px 0;
}
.one-footer .footer-center .footer-center-two dl{
	float: left;
    width: 140px;
}
.one-footer .footer-center .footer-center-two dl dt{
	line-height: 35px;
	font-weight: 700;
}
.one-footer .footer-center .footer-center-two dl dd{
	line-height: 35px;
    font-size: 12px;
}
.one-footer .footer-center .footer-center-two dl dd a{
	color: #767676;
    text-decoration: none;
}
.one-footer .footer-center .footer-center-two dl dd a:hover{
	color: #ff5d59;
}
.one-footer .footer-center .footer-center-two dl .footer-center-ewm{
	position: relative;
}
.one-footer .footer-center .footer-center-two dl .footer-center-ewm .ewmShow{
	display: none;
	position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -45px;
}
.one-footer .footer-center .footer-center-two dl .footer-center-ewm:hover .ewmShow{
	display: block;
}
.one-footer .footer-center .footer-center-two dl .footer-center-ewm .ewmShow img{
	width: 90px;
	height: 90px;
}
.one-footer .footer-center .footer-center-two .footer-center-iPhone{
	border-left: 1px solid #eaeaea;
    width: 250px;
    height: 125px;
    float: right;
    text-align: center;
}
.one-footer .footer-center .footer-center-two .footer-center-iPhone p{
	margin: 0 0 10px;
}
.one-footer .footer-center .footer-center-two .footer-center-iPhone .footer-top{
	font-size: 14px;
    color: #6f6c71;
    font-weight: 600;
}
.one-footer .footer-center .footer-center-two .footer-center-iPhone .footer-bottom{
	color: #ff5d59;
    font-size: 26px;
    margin-bottom: 15px;
}
.one-footer .footer-center .footer-center-two .footer-center-iPhone a{
	border:1px solid #ff5d59;
	color: #ff5d59;
	padding: 5px 10px;
	margin-left: 10px;
}
.one-footer .footer-center .footer-center-two .footer-center-iPhone a img{
	width: 14px;
	height: 14px;
}

/*two-footer*/
.two-footer{
	width: 100%;
	background: #313131;
    height: 100px;
    line-height: 100px;
	position: relative;
}
.two-footer .two-footer-logo{
	float: left;
}
.two-footer .two-footer-logo img{
	vertical-align: middle;
}
.two-footer .two-footer-right{
	float: right;
    color: #666;
    font-size: 12px;
    display: flex;
}
.two-footer .two-footer-right span{
	margin: 0 4px;
}
.two-footer .two-footer-right a{
	color: #666;
}

/*three-footer*/
.three-footer{
	background: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.three-footer img{
	vertical-align: middle;
}*/